* {
    margin: 0px;
}

header {
    background-color: rgb(185, 188, 190);
    padding-bottom: 3px;
}

#yellowLine {
    width: 1902px;
    height: auto;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 25px;
}

#abinhaHeader {
    display: flex;
    margin-right: 15px;
    gap: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding-top: 3px;
}

#save {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

#saveButton {
    margin-right: 5px;
}

.box-nav-header {
    display: flex;

    gap: 10px;

    padding: 10px;

    border-bottom: 2px solid rgb(43, 43, 248);
}

.box-nav-header > p {
    margin-left: 40px;

    margin-top: 4px;
}

.box-nav-header > .subtitulo {
    font-weight: bold;

    font-size: 22px;

    margin-left: 20px;
}

.box-nav-header > h3 {
    margin-top: 4px;

    margin-left: 10px;
}

.container-nav {
    border: solid 4px #acacac;

    width: 48%;
}

.nav-menu {
    padding: 5px;

    background-color: #c5c4c4;
}

table {
    border-collapse: collapse;

    width: 100%;
}

th {
    background-color: #c7c7c7;

    padding: 10px;
}

th:last-child {
}
